html {
  --primary: #005744;
  --gray: #eaeaea;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

h3,
h1,
h2 {
  font-family: jubilat;
  font-weight: normal;
}

.products {
  display: flex;
  justify-content: center;
}

.products section {
  justify-self: center;
  border: 1px solid #707070;
  background-color: #f0f0f0;
  justify-content: center;
}

section {
  margin: 2rem;
}

.product_image {
  max-width: 15em;
}

.products div h3,
p {
  margin-left: 1rem;
  margin-right: 1rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: jubilat;
  font-size: 0.9rem;
  opacity: 0.9;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.product1 {
  grid-column: 2/3;
}

h1 {
  margin-top: 5%;
}

#front_page {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.front_menu {
  font-family: jubilat;
  margin-top: auto;
  margin-bottom: auto;
}

.front_menu div {
  margin: 1.5rem;
  font-size: 1rem;
  display: flex;
}

a {
  color: black;
}

.item:hover {
  scale: 1.1;
}

.front_menu div img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  align-self: center;
}

.front_menu div div {
  align-self: center;
}

.main_photo img {
  margin: 1rem;
  width: 90%;
  grid-column: 2/3;
}

.product_preview {
  display: flex;
  justify-content: center;
  justify-self: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #005744;
}

.buy {
  background-color: var(--primary);
  width: 20%;
  margin-left: auto;
}

.buy img {
  filter: invert(1);
}

.overskrift {
  display: flex;
  justify-content: center;
}

.tilfoej_kurv {
  background-color: #005744;
  display: flex;
  border-radius: 10px;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  margin: 1rem;
  font-family: jubilat;
}

.tilfoej_kurv:hover {
  scale: 1.05;
}

.hvid {
  color: white;
  margin: 10px;
}
